/* Your CSS goes here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Arial", "Arial bold", "Arial Black";
  }
  
  /* nav bar */
.title{
    
    height: 70px;
    width: 100%;
    background-color: #454f6f;
    position: relative;

    
}
.title h1 {
     display: inline-block;
    color: white;
    padding-top: 20px;
    margin: 20px;

}



.title nav {
   
    float: right;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    margin: 20px;

}

.title nav a {
  
    text-decoration: none;
    color: white;
    
}
/* Banner */
.banner {
    color: white;
    border: 30px;
    padding: 50px;
    text-align: center;
    background-color: #e6834c;
    
    
}

.banner h1 {
  
    font-size: 30px;
    padding: 20px;
    font: Arial bold;
    font-weight: bold;
}

.banner h2 {
    
    font-size: 25px;
    padding: 20px;

}
/* about us */

.about{
    background-color: rgb(242, 248, 248);
    color: black;
    border: 30px;
    padding: 50px;
    margin: 20px 30px;
    text-align: center;
}

.about h2{
   
    font-weight: bold;
    padding: 20px;
    
}

.about p {
  
    padding: 20px;
    text-align: center;
    line-height: 1.5;

}

/* first content */

.content {
   
    width: 50%;
    margin: 20px 30px 20px 30px;
    border: 340px;
    display: table-cell;
   

}

.innercontent {
   
    width: 100%;
    margin: 20px 30px;
    border: 20px;
    padding: 30px;
    justify-content: center;
   
}

.innercontent h2{
  
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.innercontent p {
  
    padding: 20px;
    text-align: center;
    line-height: 1.5;
   

}

/* second content */
.content-contact{
   
    width: 50%;
    margin: 20px 30px;
    border: 40px;
    padding: 10px;
    display: table-cell;
    
}

.morecontent{
    width: 100%;
    margin: 20px 30px;
    border: 20px;
    padding: 30px;
    justify-content: center;
      
}

.morecontent h2 {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.morecontent p {
    padding: 20px;
    text-align: center;
    line-height: 1.5;
}

/* footer */

.footer {
    height: 70px;
    width: 100%;
    background-color: #454f6f;
    position: relative;
}

.footer h1 {
display: inline-block;
color: white;
padding-top: 20px;
margin: 20px;

    
}

.footer nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
    color: white;
    margin: 20px;


}

.footer nav a{
    text-decoration: none;
    color: white;
   
}
/* copyright */
.copyright {
    color: black;
    width: 100%;
    border: ;
    padding: 10px;
    text-align: center;
    background-color: #e6834c;
}
